## Splitting CSV

In [1]:
import pandas as pd

df = pd.read_csv("energia.csv")
df['Territorio'].value_counts()

Italia                                17
Toscana                               11
Sicilia                               11
Calabria                              11
Basilicata                            11
Puglia                                11
Campania                              11
Molise                                11
Abruzzo                               11
Mezzogiorno                           11
Lazio                                 11
Marche                                11
Umbria                                11
Centro                                11
Nord-ovest                            11
Emilia-Romagna                        11
Friuli-Venezia Giulia                 11
Veneto                                11
Provincia Autonoma Trento             11
Provincia Autonoma Bolzano / Bozen    11
Trentino Alto Adige / Südtirol        11
Nord-est                              11
Lombardia                             11
Liguria                               11
Valle d'Aosta / Vallée d'Aoste        11
Piemonte                              11
Sardegna                               9
Name: Territorio, dtype: int64

In [2]:
## split data into several csv by territorio
import pandas as pd

df = pd.read_csv("energia.csv")
diction = {"Valle d'Aosta / Vallée d'Aoste":"Valle_Aosta",
           "Trentino Alto Adige / Südtirol":"Trentino Alto Adige",
           "Provincia Autonoma Bolzano / Bozen":"Bolzano"
            }
df=df.replace({"Territorio": diction})
terri = df["Territorio"].unique().tolist()

for i in terri:
    #print(i)
    df[df["Territorio"]==i].to_csv(f'file_csv/{i}.csv',sep=",",index=False)

print('done!')

done!

## Splitting Excel

In [3]:
## split data into several excel by territorio
import pandas as pd

df = pd.read_csv("energia.csv")
diction = {"Valle d'Aosta / Vallée d'Aoste":"Valle_Aosta",
           "Trentino Alto Adige / Südtirol":"Trentino Alto Adige",
           "Provincia Autonoma Bolzano / Bozen":"Bolzano"
            }
df=df.replace({"Territorio": diction})
terri = df["Territorio"].unique().tolist()
for i in terri:
    df[df["Territorio"]==i].to_excel(f'file_excel/{i}.xlsx',index=False)

print('done!')

done!

## Merging Excel

In [30]:
import pandas as pd
import glob
import os

# setting the path for joining multiple files
files = os.path.join("file_excel/", "*.xlsx")

# list of merged files returned
files = glob.glob(files)

# joining files with concat and read_csv
df = pd.concat(map(pd.read_excel, files), ignore_index=True,)
df.to_csv("totale1.csv",sep=";",index=False)

## Merging CSV

In [31]:
import pandas as pd
import glob
import os

# setting the path for joining multiple files
files = os.path.join("file_csv/", "*.csv")

# list of merged files returned
files = glob.glob(files)

li = []
for filename in files:
    df = pd.read_csv(filename, sep=';', index_col=None, header=0)
    li.append(df)
df = pd.concat(li, axis=0, ignore_index=True)
#df
df.to_csv("totale2.csv",sep=";",index=False)

## Sqlite

In [2]:
import pandas as pd
import sqlite3

def populate_sqlite_from_csv(file, database_file,tablename):
    # Leggi il foglio di calcolo Excel in un DataFrame
    df = pd.read_csv(file)
    # Connette al database SQLite
    conn = sqlite3.connect(database_file)
    # Scrivi il DataFrame nel database SQLite
    df.to_sql(tablename, conn, if_exists='replace', index=False)
    # Chiudi la connessione al database
    conn.close()


def populate_sqlite_from_df(df, database_file,tablename):    
    # Connette al database SQLite
    conn = sqlite3.connect(database_file)
    # Scrivi il DataFrame nel database SQLite
    df.to_sql(tablename, conn, if_exists='replace', index=False)
    # Chiudi la connessione al database
    conn.close()

populate_sqlite_from_csv("energia.csv","test.db","energia")

In [7]:
#sqlite to df
import sqlite3

con = sqlite3.connect("test.db")
df = pd.read_sql_query("SELECT * from energia", con)
df

,ITTER107,Territorio,TIPO_DATO_CENERG,Tipo dato,DOTAZIONI_A,Fonte alimentazione,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,ALL,tutte le voci,2013,2013,42302968.0,None,None
1,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,H_OIL,gasolio,2013,2013,1694455.0,None,None
2,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,LPG,Gpl (Gas Petrolio Liquefatto),2013,2013,2437978.0,None,None
3,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,ELECTR,energia elettrica,2013,2013,15035032.0,None,None
4,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,METAN,metano,2013,2013,21080936.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...
296,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,H_OIL,gasolio,2013,2013,1137.0,None,None
297,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,LPG,Gpl (Gas Petrolio Liquefatto),2013,2013,382.0,None,None
298,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,ELECTR,energia elettrica,2013,2013,753.0,None,None
299,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,FIREWOOD,legna,2013,2013,470.0,None,None
300,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,PELLETS,pellets,2013,2013,418.0,None,None

## Parquet

Apache Parquet is an open source, column-oriented data file format designed for efficient data storage and retrieval. It provides efficient data compression and encoding schemes with enhanced performance to handle complex data in bulk. Parquet is available in multiple languages including Java, C++, Python, etc...

In [12]:
df = pd.read_excel('anagrafica.xlsx')
df.info()

#.astype(str).str.zfill(11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ragione_sociale  400 non-null    object
 1   partita_iva      400 non-null    int64
 2   codice_fiscale   400 non-null    int64
dtypes: int64(2), object(1)
memory usage: 9.5+ KB

## Json

In [33]:
pd.read_json('json/alpha.json')

,correlationId,report,companyId,dateOfOrder,language,userId
alternateSummary,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"{'province': 'FERRARA', 'vatRegistrationNumber...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
companyId,8da7f88f-9163-4709-b1e5-65ba4de9aaad,IT-0-FE97207,IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
companySummary,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"{'businessName': 'ALPHA S.R.L.', 'country': 'I...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
creditScore,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"{'currentCreditRating': {'commonValue': 'B', '...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
extendedGroupStructure,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"[{'id': 'IT-0-AT76661', 'country': 'IT', 'safe...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
financialStatements,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"[{'type': 'GlobalFinancialsGGS', 'yearEndDate'...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
groupStructure,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"{'ultimateParent': {'country': 'IT', 'id': 'IT...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
language,8da7f88f-9163-4709-b1e5-65ba4de9aaad,EN,IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
localFinancialStatements,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"[{'type': 'LocalFinancialsCSIT', 'yearEndDate'...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
otherInformation,8da7f88f-9163-4709-b1e5-65ba4de9aaad,{'employeesInformation': [{'numberOfEmployees'...,IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668

## Google Sheet

In [3]:
import pandas as pd

SHEET_ID = '1heHx1NK1EPH0rhs9u0RG5bhoRJexfeH4kTpwjFR3hpA'
SHEET_NAME = 'Foglio1'
foglio_id=0

url = f'https://docs.google.com/spreadsheets/d/{SHEET_ID}/gviz/tq?tqx=out:csv&sheet={SHEET_NAME}/edit#gid={foglio_id}'
df = pd.read_csv(url)
df

   colonna1 colonna2
0         1      fdf
1         2     fdsf
2         3     fdsf
3         4      hgh
4         5      hjj
5         6      546
6         7     gfdg
7         8      dfg
8         9      435
9        10      fgf